<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <!-- QA-only: keep device instrumentation deterministic when the test device dozes. -->
        <activity
            android:name=".MainActivity"
            android:showWhenLocked="true"
            android:turnScreenOn="true" />
        <activity
            android:name="androidx.activity.ComponentActivity"
            android:showWhenLocked="true"
            android:turnScreenOn="true" />
    </application>
</manifest>
